
   <% include partes/_header %> 
   
    <div class="container">
        <div class="row">
           <!--  formulario -->
           <div class="col-md-5">
               <div class="card">
                   <div class="card-body">
                       <form action="/registro" method="POST">
                           <div class="form-group">
                               <input type="text" name="nombre" placeholder="Escribe tu nombre" class="form-control">
                           </div>
                           <div class="form-group">
                                <input type="text" name="apellido" placeholder="Escribe tu apellido" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="edad" placeholder="Escribe tu edad" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn btn-block">Agregar</button>

                       </form>
                   </div>
               </div>
           </div>
           <!-- tabla -->
           <div class="col-md-7">
               <table class="table table-bordered table-hover">
                   <thead>
                       <tr class="text-center">
                           <th>N°</th> 
                           <th>Nombre</th>   
                           <th>Apellido</th>   
                           <th>Edad</th> 
                           <th>Estado</th>                            
                           <th>Acción</th>                             
                       </tr>
                   </thead>
                   <tbody>
                       <% for (let i =0; i<usuarios.length; i++){ %>
                         <tr>
                               <td> <%= i + 1 %> </td>
                               <td> <%= usuarios[i].nombre %> </td> 
                               <td> <%= usuarios[i].apellido %> </td> 
                               <td> <%= usuarios[i].edad %> </td> 
                               <td> <%= usuarios[i].status %> </td> 
                               <td> 
                                    <a href="/editar/<%= usuarios[i]._id %>" class="btn btn-warning">Editar</a> 
                                    <a href="/borrar/<%= usuarios[i]._id %>" 
                                        class="btn <%= usuarios[i].status ? 'btn-success' : 'btn-dark'%> ">Bloquear</a> 

                                    <a href="/eliminar/<%= usuarios[i]._id %>" class="btn btn-danger">Eliminar</a>    
                               </td>                       
                         </tr>                           
                       <% } %>
                   </tbody>

               </table>
           </div>
        </div>
    </div>
    
    <% include partes/_footer %> 